* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.conteiner {
    width: 1100px;
    margin: 0 auto;

}

.bg-image {
    background: url("../img/home-banner.jpg")center/cover;
    height: 100vh;
}

#title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

}

nav ul {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    font: 600 14px arial;
    color: #002347;
    text-transform: capitalize;
    transition: .4s;
}

nav a:hover {
    color: #fdc632;
}

#headerinf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.text {
    color: #002347;
    text-transform: uppercase;
    text-align: center;

}

.text h3 {
    font: 600 20px arial;
}

.text h1 {
    font: 700 48px arial;
    padding: 30px 0 60px 0;
}

.buttons a {
    text-decoration: none;
    font: 600 13px arial;

    border-radius: 5px;
    padding: 15px 40px;
    text-transform: uppercase;
    transition: .4s;
}

.buttons a[type="but1"] {
    color: #fdc632;
    background: #002347;
    border: 1px solid #002347;
    margin-right: 5px;
}

.buttons a[type="but2"] {
    color: #002347;
    background: #fdc632;
    border: 1px solid #fdc632;
    margin-left: 5px;
}

.buttons a[type="but1"]:hover {
    background: transparent;
}

.buttons a[type="but2"]:hover {
    background: #002347;
    color: #fdc632;
    border: 1px solid #002347;
}

.text2 {
    display: flex;
    align-items: center;
    padding: 40px;
    flex-direction: column;
}

.text2 h3 {
    color: #002347;
    font: 600 30px arial;
    padding: 10px;

}

.text2 p {
    color: #7b838a;
    font: italic 14px arial;
    display: block;

}

.cards {
    display: flex;


}

.card{
    border: 1px solid #f9f9ff;
    padding: 30px;
    background: #f9f9ff;
    transition: .4s;
}

.card {
    margin: 0 15px;
}

.card p{
    font: 200 15px arial;
    color: #7b838a;
}

.card h2{
    font: 400 20px arial;
    color: #002347;
    padding: 15px 0;
}

.card i{
    font-size: 40px;
}

.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-img {
    display: flex;
}

.cardi{
    border: 1px solid #f9f9ff;
    background: #f9f9ff;
    margin: 10px;

}

.content {
    padding: 10px;


}

.content h4 {
    border: 1px solid #002347;
    background: #002347;
    color: #fff;
    width: 70px;
    padding: 5px 10px;
    text-align: center;
    margin-top: 30px;
}

.content h2 {
    font: 700 18px arial;
    color: #002347;
    text-transform: capitalize;
    padding: 10px 0;
    transition: .4s;
}

.cardi:hover {
    div h2 {
        color: #fdc632;
    }

    .bg-card h6 {
        background: #002347;
        border: 1px solid #002347;
        color: #fdc632;
    }
}

div p {
    font: 200 15px arial;
    color: #7b838a;
}

.author {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.icons h6[type="1"] {
    padding: 0 10px;
}

.icons i[type="1"] {
    padding: 0 10px;
}

.user {
    display: flex;
    align-items: center;
    width: 130px;
    justify-content: space-between;
}

.user h3 {
    font: 600 16px arial;
    color: #002347;
}

.bg-card {
    background: url('../img/c3.jpg.webp')center/cover;

}
.bg-card {
    height: 40vh;
    width: 400px;
    position: relative;


}
.bg-card h6 {
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
    width: 70px;
    border: 1px solid #fdc632;
    color: #002347;
    border-radius: 50%;
    background: #fdc632;
    position: absolute;
    bottom: -40px;
    left: 75%;

    font: 500 16px arial;
    color: #002347;
    transition: .4s;

}

.back {
    background: #002347;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.inform h2 {
    font: 700 40px arial;
    color: #fff;
}

.inform h6 {
    font: 300 17px arial;
    color: #fff;
    padding: 20px 0;
}

.all-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
}

.time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5%;
    width: 115px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: #334f6c;
    padding: 25px 35px;
    margin-top: 40px;

}

.time p{
    font: 600 40px arial;
    color: #fff;

}

.time h5{
    font: 430 20px arial;
    color: #fff;

}

form {
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    background: #fff;
    padding: 40px;
    margin: 50px 0;
}

form h2 {
    text-align: center;
    color: #002347;
    font: 700 25px arial;

}

form p {
    color: #7b838a;
    font: 300 16px arial;
    text-align: center;
    padding: 5px 0 20px 0;
}

input {
    border: none;
    border-bottom: 2px solid #eeeeee;
    padding: 12px;
    outline: none;

}

input[type="tel"] {
    margin: 20px 0;
}

input[type="submit"] {
    margin: 20px 0;
    background: #fdc632;
    font: 700 15px arial;
    color: #002347;
}

.textcard{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

/* fourth section */

.cards-t{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgu img{
    height: 170px;
    width: 200px;
}

.textcard h3{
    color: #002347;
    font: 600 20px arial;
}
.textcard h6{
    font: 400 14px arial;
    color: #7b838a;
    margin: 7px 0 25px 0;
}


.iconscrd i{
    font-size: 15px;
    color: #a0aab3;
    margin-top: 30px;
    transition: .4s;
}

.iconscrd i:hover{
    color: #fdc632;
}

/* fifth section */

.text1{
    text-align: center;
}

.text1 h2{
    font: 700 30px arial;
    color: #fff;
    padding: 40px;
}

.img1{
    background: url("../img/download.jpg")center/cover;
    height: 400px;
    width: 530px;
    margin: 60px 0;
}
.img1-text{
    background: linear-gradient(#00234788, #002f5e8d);
    padding: 25px;
    display: inline-block;
}
.img1-text span{
    color: #fdc632;
    font: 700 30px arial;
}

.img1-text h6{
    font: 500 20px arial;
    color: #fff;
    text-transform: capitalize;
    display: inline;
}

.img1-text h5{
    display: inline;
    margin-left: 15px;
}

.img1-text p{
    color: #fff;
    margin: 10px 0 40px 0;
    font: 400 16px arial;
    line-height: 24px;
}

.img1-text a{
    text-decoration: none;
    color: #002347;
    border: #fdc632;
    background-color: #fdc632;
    padding: 15px 30px;
    text-transform: uppercase;
    font: 600 13px arial;
    transition: .4s;
}

.img1-text a:hover{
     color: #fdc632;
    border: #002347;
    background-color: #002347;
}

.view-all{
    padding: 0 0 60px 0;
    text-align: center;
    font-size: 16px;
}

.view-all a{
    color: #fdc632;
    text-decoration: none;
}
.view-all i{
    color: #fdc632;
}

/* sixth section */

.sixth-section{
    padding: 100px 0;
}

.card[type="display"]{
    display: flex;

}
.imgp img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    
}

.textcardd{
    padding: 30px;
}

.textcardd h3{
    color: #002347;
    font: 600 20px arial;
    margin-bottom: 15px;
}

.textcardd p{
    line-height: 20px;
    font-size: 17px;
}

/* footer */

#all-footer-links{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.footer-links h2,.footer-subscribe h2{
    font: 600 20px arial;
    text-transform: capitalize;
    margin-bottom: 30px;
    color: #fff;
}

.footer-links li,.footer-subscribe p{ margin-bottom: 20px; }

.footer-links a,.footer-subscribe p{
    font: 500 16px arial;
    color: #7b838a;
    text-decoration: none;
    transition: .4s;
}
.footer-links a:hover { color: #fff; }

.footer-subscribe input{
    width: 250px;
    padding: 12px 0 12px 10px;
    border: 0;
    outline: none;
    background-color: #334f6c;
}
::placeholder { font: 500 14px arial; text-transform: capitalize; color: #7b838a; }

.footer-subscribe button{
    background-color: #fdc632;
    color: #002347;
    text-transform: uppercase;
    border: 0;
    padding: 10px 20px;
    font: 600 13px arial;
}

#all-footer-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding-bottom: 100px;
}
.footer-copyRight p{
    color: #fff;
    font: 500 16px arial;
}
.footer-icons a{
    background-color: #334f6c;
    color: #cccccc;
    padding: 12px;
    transition: .4s;
}
.footer-icons a:hover { background-color: #fdc632; color: #002347; } 

/* contact us */

.bg-image1{
    background: linear-gradient(#002347ae,#002347a9), url("../img/baner2.jpg")center/cover;
    height: 50vh;
}

ul a[type="white"]{
    color: #fff;
    transition: .4s;
}

ul a[type="white"]:hover{
    color: #fdc632;
}

.textcenter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textcenter a{
    text-decoration: none;
    margin-right: 10px;
    font: 400 17px arial;
    color: #fff;
}

.textcenter h1{
    margin: 20px;
    font: 800 40px arial;
    color: #fff;
}

.textcenter ul{
    display: flex;
}

.textcenter{
    align-items: center;
}

.map{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.conteiner[type="margin"]{
    margin-bottom: 100px;
}

#all-contact{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.contact-location,.contact-number,.contact-email{ display: flex; }

.contact-icon-1 i,.contact-icon-2 i,.contact-icon-3 i{
    font-size: 20px;
    color: #002347;
    margin-right: 20px;
}

.contact-info h2{
    color: #002347;
    font: 600 16px arial;
    margin-bottom: 8px;
}

.contact-info p{
    color: #7b838a;
    font: 500 14px arial;
    margin-bottom: 25px;
}

.contact-inputs input,.contact-msj input{
    display: block;
    width: 380px;
    padding: 10px 0 10px 10px;
    outline: none;
    border: 1px solid #8080804b;
}

.contact-inputs input[type="email"]{ margin: 10px 0; }

.contact-msj input{ padding: 10px 0 110px 10px;}

::placeholder {
    color: #002347;
    text-transform: capitalize;
    font: 500 13px arial;
}

.contact-btn{ float: right;  }

.contact-btn button{
    background-color: #fdc632;
    color: #002347;
    font: 600 13px arial;
    padding: 16px 50px;
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .4s;
}
.contact-btn button:hover { background-color: #002347; color: #fdc632; }

/* about us */

.carda{
    display: flex;
    align-items: center;
}

.textcardd a{
    text-decoration: none;
    color:#002347;
    border: 1px solid #fdc632;
    background-color: #fdc632;
    border-radius: 7px;
    padding: 10px 25px;
    transition: .4s;
    font: 600 15px arial;
}

.textcardd a:hover{
    color: #fdc632;
    background-color: #002347;
    border-color: #002347;
}

.textcardd[type="margin"] p{
    margin: 20px 0;
}